.App {
  text-align: center;
  background: rgba(100,20,255,.15);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10px;
  position: absolute;
  top: 0px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-footer {
  background-color: rgba(100,20,255,.2);
  font-size: 1.2em;
  color: white;
  padding: 10px;
}

.App-header {
  background-color: rgba(100,20,255,.2);
  font-size: 1.2em;
  color: white;
  padding: 5px;
}

.App-timer {
  background-color: rgba(100,20,255,.1);
  font-size: 1.2em;
  color: white;
  padding: 5px;
}