.App {
  text-align: center;
  font-family: Raleway;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: rgba(100,20,255,.3);
  font-size: 1.2em;
  color: white;
  min-height: 10px;
  position: relative;
  top: 0px;
  padding: 20px 0px 5px 0px;
}

.App-footer {
  background-color: rgba(100,20,255,.3);
  font-size: 1.2em;
  color: white;
  padding: 10px;
  width: 100vw;
  position: absolute;
  bottom: 0px;
}

.App-timer {
  background-color: white;
  color: rgba(100,20,255,.5);
  font-size: 1.2em;
  padding: 25px;
}

.App-welcome {
  background-color: white;
  color: rgba(100,20,255,.5);
  font-size: 1.2em;
  height: 80vh;
  padding: 25px;
}

.App-navbar {
  color: rgba(100,20,255,.5);
  font-size: 1.5em;
  padding: 5px; 
}