.App {
  text-align: center;
  font-family: Raleway;
}

#body {
  min-width: 500px
}

.App-header {
  /*background-color: rgba(100,20,255,.3);*/
  background: linear-gradient(45deg, rgba(194,190,255,1) 0%, rgba(100,20,255,0.3) 55%, rgba(125,233,255,0.67) 80%);
  font-size: 1.2em;
  color: white;
  min-height: 10px;
  position: relative;
  top: 0px;
  padding: 20px 0px 5px 0px;
}

.App-footer {
  background: linear-gradient(45deg, rgba(194,190,255,1) 0%, rgba(100,20,255,0.3) 25%, rgba(125,233,255,0.67) 80%);
  font-size: 1.2em;
  color: white;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.App-timer {
  background-color: white;
  color: rgba(100,20,255,.5);
  font-size: 1em;
  padding: 25px;
}

.App-welcome {
  background-color: white;
  color: rgba(100,20,255,.5);
  font-size: 1.2em;
  height: 80vh;
  padding: 25px;
}

.App-navbar {
  color: rgba(100,20,255,.5);
  font-size: 1.5em;
  padding: 5px; 
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
