.App {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Raleway;
  width: 65%;
}

.App-header {
  background: linear-gradient(45deg, rgba(194,190,255,1) 0%, rgba(100,20,255,0.3) 55%, rgba(125,233,255,0.67) 80%);
  font-size: 1.2em;
  color: white;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  min-height: 50px;
  height: 7vh;
}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 5%;
  background: linear-gradient(45deg, rgba(194,190,255,1) 0%, rgba(100,20,255,0.3) 25%, rgba(125,233,255,0.67) 80%);
  font-size: 1.2em;
  color: white;
  padding: 10px 0px 10px;
}

.App-component {
  margin-top: 70px;
  /*background-color: white;*/
  /*color: rgba(100,20,255,.5);*/
  /*font-size: 1.2em;*/
  /*height: 80vh;*/
  /*padding: 25px;*/
  /*position: flex;*/
  /*bottom: 50px;*/
}

.App-navbar {
  position: relative;
  top: 7vh;
  color: rgba(100,20,255,.5);
  font-size: 1.5em;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/